/*Top Banner Styling*/
.logo img{
    position:fixed;
    margin-top:-35px;
    margin-left:-15px;
    width: 180px;
    height: 180px;
}
/*Body Styling*/
body{
    margin: 0;
    padding:0;
    font-family: 'Quicksand', sans-serif;
}
nav{
    width:100%;
    background:peachpuff;
    overflow:auto;
}
nav a{
    width:150px;
    display:block;
    padding:50px 13px;
    text-decoration:none;
    font-family:'Courier New', Courier, monospace;
    text-align:center;
    -webkit-text-stroke: 0.5px black;
}
a:visited{
    color:pink;
}
ul{
    padding:0;
    margin: 0 0 0 150px;
    list-style:none;
}
li{
    float:right;
}
nav a:hover{
    background: white;
    transition:0.5s;
    text-transform:uppercase;
}
/*Form Details*/
.form-detail{
    text-align: center;
    /*background-color: white;*/
}
.form-row{
    width: 100%;
    position: relative;
}
div{
    display: block;
}
#banner{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:60px;
  width: 50%;
  border-radius: 25px;
}
legend{
    text-align: center;
}